{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}

<h1 class="pushLeft">You can view all books from here</h1>

<div class="pushLeft">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Type</th>
            <th>loan status</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book[0]}}</td>
            <td>{{book[1]}}</td>
            <td>{{book[2]}}</td>
            <td>{{book[3]}}</td>
            <td>{{book[4]}}</td>
            <td>{{book[5]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>




{%endblock%}
{%block footer%}{{super()}}{%endblock%}