{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<div class="indexNav">
    <h1 class="pushLeft">Welcome to my Awesome library </h1>
    <br><br>
<h1><p style="color:white;"> This website lets you manage a virtual library <br>
    <br>
    You can add,remove and update any book\customer as you wish .<br>
    <br>
    please Note that you following the nav bar up ahed .<br>
    <br>
</p></h1>   
    
</div>
{%endblock%}
{%block footer%}{{super()}}{%endblock%}